.compact .sidebar {
  width: 60px;
  overflow: visible;
}

.compact .sidebarMenuItem > div {
  display: none;
}

.compact .sidebarMenuItem:hover {
  background: lightgrey;
  height: 50px;
}

.compact .sidebarMenu {
  width: 60px;
  overflow-y: visible;
}

.compact .sidebarSubmenu {
  position: absolute;
  left: 60px;
  width: 220px;
  /*overflow-y: scroll;*/
  /*padding-top: 60px;*/
  padding-bottom: 10px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  background: white;
}

.compact .sidebarSubmenuWrapper {
  overflow: hidden;
  position: relative;
}

.compact .sidebarSubmenu ul {
  width: 240px;
}


.compact .sidebarSubmenu ul:not(.sidebarSubmenuHeader) {
  max-height: 284px;
  overflow-y: scroll;
  padding-top: 60px;
  position: relative;
}

.compact .sidebarSubmenu ul.sidebarSubmenuHeader {
  position: absolute;
  z-index: 2;
  padding-bottom: 10px;
  width: 100%;
}

.compact .sidebarSubmenuItem {
  padding: 0 10px;
  position: relative;
  z-index: 2;
}


.compact .sidebarSubmenuItem:last-child {
  margin-bottom: 10px;
}


.compact .sidebarSubmenu::before,
.compact .sidebarSubmenu::after {
  position: absolute;
  display: block;
  content: '';
  background: white;
}

.compact .sidebarSubmenu::before {
  top: 15px;
  left: -8px;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}

.compact .sidebarSubmenu::after {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 50px;
}

.compact .sidebarMenuItem.mode::before { content: '\f054'; }

.compact .sidebarModeMenu {
  width: 59px;
  background-color: white;
}

.compact .sidebarSubmenuHeader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: white;
  z-index: 22333;
}

.compact .sidebarSubmenuHeader li {
  border-bottom: 1px solid lightgrey;
}

.compact .sidebarSubmenuHeader li:hover {
  background: white;
}
