.compact .sidebar {
  width: 60px;
  overflow: visible;
}

.compact .sidebarMenuItem > div {
  display: none;
}

.compact .sidebarMenuItem:hover {
  background: lightgrey;
  height: 50px;
}

.compact .sidebarMenu {
  width: 60px;
  overflow-y: visible;
}

.compact .sidebarSubmenu {
  position: absolute;
  left: 60px;
  /*top: 70px;*/
  /*right: 10px;*/
  /*display: none;*/
  width: 220px;
  padding: 10px 0 0 0;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  background: white;
}

.compact .sidebarSubmenuItem {
  padding: 0 10px;
  position: relative;
  z-index: 2;
}

.compact .sidebarSubmenuItem:first-child {
  display: block;
  border-bottom: 1px solid lightgrey;
}

.compact .sidebarSubmenuItem:first-child:hover {
  background: white;
}

.compact .sidebarSubmenuItem:nth-child(2) {
  margin-top: 10px;
}

.compact .sidebarSubmenuItem:last-child {
  margin-bottom: 10px;
}


.compact .sidebarSubmenu::before,
.compact .sidebarSubmenu::after {
  position: absolute;
  display: block;
  content: '';
  background: white;
}

.compact .sidebarSubmenu::before {
  top: 15px;
  left: -8px;
  transform: rotate(45deg);
  width: 20px;
  height: 20px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
}

.compact .sidebarSubmenu::after {
  top: 0px;
  left: 0px;
  width: 30px;
  height: 50px;
}

.compact.sidebarMenuItem.mode::before { content: '\f053'; }
